<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link href="styles/reset.css" type="text/css" rel="stylesheet"/>
    <link href="styles/base.css" type="text/css" rel="stylesheet"/>
    <link href="styles/icons.css" type="text/css" rel="stylesheet"/>
    <link href="styles/layout.css" type="text/css" rel="stylesheet"/>
    <link href="styles/modules.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
      
    <main>
        <h2>Search By Title Or Author</h2>
        <form action="/contact" method="post">
            <fieldset>
              <legend>Find Book</legend>
              <label>
                <span>Title:</span>
                <input type="text" name="title">
              </label>
              <label>
                <span>Author:</span>
                <input type="text" name="author">
              </label>
              <button>Submit</button>
            </fieldset>
          </form>
​
    </main>
  </body>
</html>