<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link href="../styles/reset.css" type="text/css" rel="stylesheet"/>
    <link href="../styles/base.css" type="text/css" rel="stylesheet"/>
    <link href="../styles/icons.css" type="text/css" rel="stylesheet"/>
    <link href="../styles/layout.css" type="text/css" rel="stylesheet"/>
    <link href="../styles/modules.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
      
    <main class="newejs">
        <h1>Best Books</h1>
        <h2>Search by Title or Author</h2>
        <form action="/searches" method="post">
            <fieldset>
                <p>Enter a title or author</p>
              <input type="text" name="search" placeholder="search for new book" required>
                <span>Title:</span>
                <input type="radio" name="search" value="title" required>
                <span>Author:</span>
                <input type="radio" name="search" value="author" required>
              <button>Search the Google Books API</button>
            </fieldset>
          </form>
​       <div class="footerdiv"></div>
    </main>
    
  </body>
</html>