<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Best Books</title>
    <link href="styles/reset.css" type="text/css" rel="stylesheet"/>
    <link href="styles/base.css" type="text/css" rel="stylesheet"/>
    <link href="styles/icons.css" type="text/css" rel="stylesheet"/>
    <link href="styles/layout.css" type="text/css" rel="stylesheet"/>
    <link href="styles/modules.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
      
    <main>
      <div class="container">
        <div class="one">
        <h1>Best Books!</h1>
        <button href="/searches/new.ejs" id="nav">Search Books</button>
        </div>
        <h4 class="two">My Book Collection</h4>
  ​      <div class="three"></div>
        <div class="four"></div>
      </div>
    </main>
  </body>
</html>