<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Best Books</title>
    <link href="styles/reset.css" type="text/css" rel="stylesheet"/>
    <link href="styles/base.css" type="text/css" rel="stylesheet"/>
    <link href="styles/icons.css" type="text/css" rel="stylesheet"/>
    <link href="styles/layout.css" type="text/css" rel="stylesheet"/>
    <link href="styles/modules.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
      
    <main>
      <h1>Best Books</h1>
      <p><a href="/">home</a></p>
      <h4>My Book Collection</h4>
​
    </main>
  </body>
</html>